.card{
    height: 450px !important;
    display: flex;
    justify-content: space-around;
    
    img{
        height: 300px;
    }
   .hearticon{
    margin-left: 200px;
    margin-top: 10px;
   }
}   